/*
* @Author: luck-cui
* @Date:   2017-10-25 15:06:31
* @Last Modified by:   luck-cui
* @Last Modified time: 2017-10-31 23:35:56
*/
.result-html {
 /*padding: 2px 10px;*/
/*  overflow: auto;
  background-color: #fff;*/
/*  border: 1px solid #ccc;
  border-radius: 4px;*/

}


.full-height{
	height: 100%;
}
#root{
	height: 100%;
	width: 100%;
}
.body{
	/*min-width: 1200px;*/
	height: 100%;
	/*min-height:570px;*/
	padding: 5px 20px;
	
}
.half{
	margin: 0 10px;
	padding: 5px 5px;
	width: 50%;
	height: 100%;
	/*min-height:550px;*/
	overflow: auto;
    background-color: #fff;
	

}
.show{
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #ccc;
	height: 100%;
}
.show1{
	padding: 10px 20px;
	margin: 10px 150px;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #ccc;
	/*height: 100%;*/
}

.body img{
	max-width: 35%;
}

.flex{
	height: 100%;
	display: flex;
}

.sbumitButton{
	margin-top: 10px;
	text-align: center;
}

.five{
	width: 20%;
}

.ten{
	width: 10%;
}
.center{
	text-align: center;
}
.url{
    /*color: #333;*/
    background-color: #fff;
    border-color: #ccc;
	width: 10%;
	height: 35px;
    border-radius: 4px;
    border: 1px solid ;
}